[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
termplotlib = "*"
beautifulsoup4 = "*"
soupsieve = "*"
lxml = "*"
luma-oled = "*"

[dev-packages]

[requires]
python_version = "3.11"
